/* home content about personal info */
:root {
    --color1: #F3F1F6;
    --color_t: #F4AC55;
    --color2: #F8FAFB;
    --color3: #4B3FE4;
    --color4: #0D0D0D;
    --bg: #FFFFFF;
    --shadow-color: rgba(0, 0, 0, .2);
  }
.home {
    min-height: 100vh;
    align-items: center;
    color: var(--color1);
    padding: 22rem 7% 2rem;
    display: flex;
    background-image: url(../img/background_img/soloturk.jpg);
    background-size: cover;
    background-position: end bottom ;
    background-position: 35% 90%;
}

.home-content {
    max-width: 65rem;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: .7;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    letter-spacing: .2rem;
}

.home-content p {
    font-size: 1.6rem;
    font-weight: 100;
}

/* Social media icon */
.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 4rem;
    background: transparent;
    color: #39425F;
    border-radius: 50px;
    box-shadow: 0 .2rem .5rem var(--color4);
    transition: 1s;
    margin: 1rem;
}

.home-content .social-media a:hover {
    background-color: var(--color_t);
    color: var(--color4);
}

/* button */
.btn {
    display: inline-block;
    padding: 1rem 5rem;
    margin-left: 6rem;
    margin-top: 2rem;
    background-color: #39425F;
    color: var(--color3);
    box-shadow: 0 .2rem .5rem var(--color4);
    font-size: 1.5rem;
    color: var(--color1);
    /* letter spacing in the button*/
    letter-spacing: .1rem;
    transition: 1s;
}

.btn:hover {
    background-color: var(--color_t);
    color: var(--color4);
}
