/*
Project Made Date: December 10 Sunday 2023
Project Made By: Habib Şako
Project Made For: 2023
Project Made With: HTML, CSS, JS, React, Node.js;
Project Version: v1.0.0
Project Status: Completed
Project Description: This is a one page blog website
*/
/**======================== ROOT ========================**/
:root {
  --color1: #F3F1F6;
  --color_t: #F4AC55;
  --color2: #F8FAFB;
  --color3: #4B3FE4;
  --color4: #0D0D0D;
  --bg: #FFFFFF;
  --shadow-color: rgba(0, 0, 0, .2);
}

/**======================== Common Config ========================**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
}

/* bunu yapma amacımız rem değerini kullanmak. Rem yapısı sayesinde telefon, bilgisyar için ayrı ayrı font büyüklüğü vermemize gerek kalmayacak. */
html {
  font-size: 11px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  text-align: left;
  line-height: 1.8;
  color: var(--bg);
  font-size: 1.6rem;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

p {
  font-size: 1.4rem;
  text-align: justify;
  color: var(--color4);
}

img:hover {
  box-shadow: var(--shadow-color);
}

i{
  font-size: 1.5rem;
}

/**======================== Header - Navbar ========================**/
#navbar-icon{
  color: var(--color_t);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background-color: var(--color4);
  opacity: 0.85;
  display: flex;
  align-items: center;
  z-index: 100;
  border-bottom: var(--color3) solid;
}

.nav-item a{
  color: var(--color2);
}
.nav-item a:hover{
  color: var(--color_t);
}

